input:not([type]), input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=radio]:not(.browser-default),
input[type=url]:not(.browser-default), input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    height: 3.62rem;
    margin-bottom: 18px;
    padding-top: 19px;
    font-size: 15px;
    box-shadow: none;
    margin-top: 18px;
}

[type="radio"] + label:before, [type="radio"] + label::after,
[type="checkbox"] + label:before, [type="checkbox"] + label::after {
    top: 10px;
    left: 3px;
}

[type=radio].invalid + label:before {
    border-color: red;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label,
[type="checkbox"]:not(.browser-default) + label {
    height: 3.6rem;
    padding-left: 36px;
    padding-right: 34px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    line-height: 3.4rem;
    margin-bottom: 5px;
}

[type="checkbox"].filled-in:not(:checked) + label::before,
[type="checkbox"].filled-in:not(:checked) + label::after,
[type="checkbox"].filled-in:checked + label::before,
[type="checkbox"].filled-in:checked + label::after {
    top: 16px;
    left: 5px;
    padding-left: 6px;
}

[type="checkbox"].browser-default + label {
    width: 100%;
    text-align: left;
}

[type="checkbox"].browser-default + label:before,
[type="checkbox"].browser-default + label:after {
    top: 3px !important;
}

.input-field label:not(.label-icon).active {
    transform: translateY(-6px) scale(1);
}


.input-field.col label {
    padding-left: 0;
    font-size: 15px;
    top: 2.5px;
}

.select-wrapper input.select-dropdown {
    padding-top: 0;
    margin-top: 18px;
    color: #131A1D;
}

.select-wrapper.selectSimNao input.select-dropdown {
    margin-top: 0;
}

.select-wrapper + label {
    top: -16.5px !important;
}

ul.dropdown-content.select-dropdown:not(.browser-default) {
    top: 1.5px !important;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text]:not(.browser-default).invalid + label:after,
input[type=text]:not(.browser-default):focus.invalid + label:after,
input[type=password]:not(.browser-default).invalid + label:after,
input[type=password]:not(.browser-default):focus.invalid + label:after,
input[type=email]:not(.browser-default).invalid + label:after,
input[type=email]:not(.browser-default):focus.invalid + label:after,
input[type=url]:not(.browser-default).invalid + label:after,
input[type=url]:not(.browser-default):focus.invalid + label:after,
input[type=time]:not(.browser-default).invalid + label:after,
input[type=time]:not(.browser-default):focus.invalid + label:after,
input[type=date]:not(.browser-default).invalid + label:after,
input[type=date]:not(.browser-default):focus.invalid + label:after,
input[type=datetime]:not(.browser-default).invalid + label:after,
input[type=datetime]:not(.browser-default):focus.invalid + label:after,
input[type=datetime-local]:not(.browser-default).invalid + label:after,
input[type=datetime-local]:not(.browser-default):focus.invalid + label:after,
input[type=tel]:not(.browser-default).invalid + label:after,
input[type=tel]:not(.browser-default):focus.invalid + label:after,
input[type=number]:not(.browser-default).invalid + label:after,
input[type=number]:not(.browser-default):focus.invalid + label:after,
input[type=search]:not(.browser-default).invalid + label:after,
input[type=search]:not(.browser-default):focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after,
.select-wrapper.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    transform: translateY(-20px);
}

textarea.materialize-textarea {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    min-height: 10rem;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 0;
}


.group-input .select-wrapper > input {
    width: calc(100% - 40px);
    border: none;
    box-shadow: none !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.group-input .select-wrapper {
    box-shadow: 0px 2px 3px rgba(38, 50, 56, 0.04);
    border: 1px solid #e0e0e0;
    margin-bottom: 18px;
    margin-top: 18px;
}

.group-input .select-wrapper {
    margin-top: 0;
}

.group-input a {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 3.6rem;
    margin: 1px 0 0 0;
    border-radius: 0px 5px 5px 0px;
    right: 3px;
}

.group-input.margin- a {
    top: -18px;
}

.group-input i {
    line-height: 3.6rem;
}

.group-input .caret {
    right: 55px !important;
}

input[type=radio]:not(.browser-default) {
    height: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label,
    [type="checkbox"]:not(.browser-default) + label {
        border: 1px solid #e0e0e0;
        box-shadow: 0px 2px 3px rgba(38, 50, 56, 0.04);
    }
}
