body, html {
  background-color: #F6F6F6;
  height: 100%; }

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.informacoes {
  display: flex;
  align-items: center;
  height: 100%; }

main, section {
  height: 100%; }

h100 {
  height: 100%; }

h1 {
  font-size: 100px;
  font-weight: 700;
  color: #194079; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #194079;
  font-weight: 300;
  margin-bottom: 0; }

p:nth-child(2n+1) {
  margin-top: 0; }

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #039BE5; }

img {
  width: 700px; }

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #194079;
  font-size: 28px; }

li {
  color: #039BE5;
  font-size: 20px; }

i {
  padding-right: 8px; }

@media only screen and (max-width: 991px) {
  img {
    width: 500px; } }

@media only screen and (max-width: 600px) {
  img {
    width: 319px; }
  .informacoes {
    display: block;
    text-align: center; }
  section {
    height: auto; }
  h1 {
    font-size: 66px; }
  p {
    font-size: 18px; }
  h4 {
    font-size: 20px; } }
