

.main-wizard {
    /*background-color: #fff;*/
    position: relative;
    height: 98px;
}

.wizard {
    background-color: #fff;
}

.main-wizard .divider {
}

.steps .divider {
    height: 1px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 36px;
    z-index: -1;
    border-top: 2px dotted #B0BEC5;
    background-color: transparent;
}

section.steps.se {
    height: 45px;
}

.steps {
    position: absolute;
    width: 100%;
    margin-top: 7px;
    /*background-color: #fff;*/
    left: 0px;
    margin-top: 0px;
    z-index: 0;
}

.steps-label {
    font-family: 'Open Sans', sans-serif;
}

.steps .steps-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}


.steps .steps-item.-current {
    border-color: #039be5;
}

.steps .steps-item {
    width: 50%;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.steps .steps-item.-current .steps-icon {
    background-color: #039be5;
    border-color: #039be5;
    color: #fff;
}

.steps .steps-icon {
    width: 45px;
    height: 45px;
    line-height: 36px;
    border: 2px solid #66bb6a;
    border-radius: 50%;
    background-color: #fff;
}

.steps .steps-label {
    display: none;
    white-space: nowrap;
}

.steps .steps-item.-current .steps-label {
    font-weight: 600;
}

.steps .steps-item.-done .steps-icon {
    border-color: #66bb6a;
    color: #66bb6a;
    border: 2px solid;
}

.steps .steps-item.-todo .steps-icon {
    border-color: #cfd8dc;
    color: #cfd8dc;
}

.steps .steps-item.-done .steps-label {
    color: #78909c;
}

.steps .steps-item.-todo .steps-label {
    color: #78909c;
}

.row.wizard {
    margin: 0;
}

.titulo-wizard {
    font-size: 36px;
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #000;
}

.subtitulo-wizard {
    font-size: 15px;
    color: #6e6e6e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.wizard.head .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.container-subtitulo {
    height: 3.5rem;
}

@media only screen and (max-width: 601px) {

    .steps .steps-item .steps-icon {
        font-size: 14px;
    }

    .steps .steps-icon {
        line-height: 41px;
    }

    .row.wizard.head {
        color: #fafafa;
        background-color: #194079;
    }

    .steps {
        background-color: transparent;
        top: -34px;
    }

    .titulo-wizard {
        font-size: 16px;
        color: #fafafa;
    }

    .steps .steps-icon {
        width: 35px;
        height: 35px;
        line-height: 32px;
        border-width: 1px;
        font-size: 16px;
        /*padding-left: 2px;*/
    }

    .steps .divider {
        top: 34px;
    }

    .main-wizard {
        height: 0;
    }

    .subtitulo-wizard {
        font-size: 17px;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    .titulo-wizard {
        margin-top: 32px;
        margin-bottom: 34px;
    }

    .container-subtitulo {
        height: 4.7rem;
    }
}


@media only screen and (min-width: 601px) {

    .steps .steps-label {
        display: block;
        padding: 10px 0 11px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
    }

    .steps .steps-item .steps-icon {
        font-size: 17px;
    }

    .steps .steps-icon {
        line-height: 41px;
    }
}


@media only screen and (min-width: 601px) {
    .steps .steps-item {
        border-bottom: 2px solid #eee;
    }

    .steps .steps-icon {
        width: 40px;
        height: 40px;
        line-height: 38px;
        border-width: 1px;
        font-size: 16px;
        padding-left: 1px;
    }
}
